body{
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family:Helvetica, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
}
@font-face{
    font-family: Zapfino;
    src:url("fonts/Zapfino.ttf");
}
@font-face{
    font-family: Herculanum;
    src:url("fonts/Herculanum.ttf");
}
@font-face{
    font-family: Sans Serif;
    src:url("fonts/Microsoft Sans Serif.ttf");
}
@font-face{
    font-family: Andale Mono;
    src:url("fonts/Andale Mono.ttf");
}
.inner{
    /* background-color: rgba(255, 255, 255, 0.577); */
    position:relative;
    top:-30px;
    width:100%;
    height:100%;
    border-radius: 30px;
}
.inner input{
    color:rgb(94, 92, 92);
    text-align: center;
    font-size:22px;
    padding: -2px;
    width:90%;
    height:40px;
    margin:10px 0px 10px 0px;
    background:none;
    border:none;
    border-bottom :2px solid rgba(0,0,0,.20);
}
.inner input[type="submit"]{
    margin-top:20px;
    height:50px;
    border:none;
    border-radius:25px;
    background-color: rgb(26,152,252);
    font-size:15px;
    color:white;
    box-shadow:rgb(59, 99, 184) 1px 1px 5px;
}
.inner button{
    position: relative;
    height:30px;
    width:90px;
    margin:12px;
    background-color:rgb(59, 99, 184);
    border:none;
    border-radius:30px;
    color:white;
    font-size:12px;
}
a{
    text-decoration: none;
    color:rgb(119,163,226);
}
#l{
    font-family: Sans Serif;
    color:rgba(0, 0, 0, 0.733);
    margin-bottom:20px;
    padding-top:100px;
    text-align:center;
    font-size:22px;
    letter-spacing:1px;
    text-shadow: 2px 2px 4px rgba(29, 28, 28, 0.591);
}
input:focus{
    outline: none;
}
Button:focus{
    pointer-events: stroke;
}
::placeholder{
    position:relative;
    font-size:14px;
    letter-spacing: .7px;
    text-align: center;
}
input[type="submit"]:hover,Button:hover{
    cursor: pointer;
}
hr{
    width:90%;
    height:.1px;
}
#nav{
    font-family:Andale Mono;
    position: fixed;
    z-index:1;
    top:0px;
    width:100%;
    padding:30px;
    background-color:rgb(11,25,	46);
    text-align: center;
}

#nav a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    margin:20px;
}
#nav a:hover{
    color:rgb(100,234,203);
}
.foot{
    margin-top:30px;
    float:left;
    width:100%;
    background: rgb(11,	25,	46);
    text-align: center;
    color:rgba(255, 255, 255, 0.878);
    font-size:14px;
}
.ftnote{
    width:300px;
    height:50px;
    padding:40px;
    margin: auto;
    display:block;
}
h1{
    margin:1px 0px 0px 13px;
    padding:00px;
    font-family: sans-serif;
    font-size: 69px;
    letter-spacing: 1px;
}
.margin{
    width:1230px;
    margin:auto;
}
.itemimage {
    position: relative;
    float: left;
    margin:10px;
    width:400px;
    height:500px;
    background-color: tomato;
}
.itemimage img{
    position: absolute;
    width: 100%;
    margin:auto;
}

.tumb img{
    position: relative;
    width:80px;
    height:80px;
    margin:5px;
    float:left;
    border:solid rgba(255, 255, 255, 0) 1px;
}
.tumb img:hover{
    border:solid rgba(7, 7, 7, 0.7) 1px;
}
.itemdis{
    float: left;
    margin:10px;
    padding:10px;
    background-color: bisque;
    width:770px;
    height:700px;
}

.tumb{
    text-align: center;
    position: absolute;
    bottom:-220px;
    width: 400px;
    height:200px;
    background-color: aquamarine;
}
.cartitems{
    border-radius: 20px;
    margin:10px;
    padding: 10px;
    width:900px;
    height:150px;
    /* background-color: rgba(94, 91, 90, 0.228); */
    float: left;
    display: block;
}
.cartitems img{
    float: left;
    border-radius: 20px 0px 0px 20px;
    width:150px;
    height: 150px;
    background-color: azure;
}
.dis{
    float: left;
    width:750px;
    height: 150px;
    background-color:rgba(255, 255, 255, 0.81);
    border-radius: 2px 20px 20px 0px;
}
.cartitems img:hover{
    box-shadow: 1px 1px 12px rgba(28, 27, 27, 0.625);
}
.cartitems:hover{
    box-shadow: 1px 1px 9px rgba(28, 27, 27, 0.344);
}
.checkout{
    border-radius: 20px;
    margin-top:20px;
    float:right;
    width:280px;
    height:500px;
    box-shadow: 2px 2px 12px 1px rgba(145, 129, 110, 0.673);
    background-color: bisque;
}
.container{
    color:white;
    width: 600px;
    height: 400px;
    margin:auto;
    padding-top:300px;
    text-align: center;
}
.container h1{
    font-family:Herculanum;
    font-weight: 50px;
    animation:header ease 1s;
}

@keyframes header{
    from{margin-top:100px;}
    to{margin-top:0px;}
}

.container h2{
    font-family:Zapfino;
    letter-spacing: 1.5px;
    text-shadow: rgba(142, 142, 142, 0.652) 1px 1px 12;
    /* font-family:Andale Mono; */
    font-weight: 20px;
    color: rgba(216, 216, 216, 0.824);
    animation:header2 ease-in 1.1s;
}
@keyframes header2{
    from{  
            margin-top:100px;
            opacity:0;
    }
    to{     margin-top:14px;
            opacity:1;
    }
}